# Dinamico por stack: adicione conforme necessario

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Logs
*.log
npm-debug.log*
logs/
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build / Dist
build/
coverage/
dist/
out/

# Python
*.pyc
.venv/
__pycache__/
venv/

# Java
*.class
.gradle/

# Dotnet
bin/
obj/

# Rust
target/

# Temporary
.cache/
.temp/
tmp/

# Placeholders para futuras stacks
# Go:
# vendor/
# PHP:
# vendor/
# Ruby:
# .bundle/
